output eDP-1 {
    pos 0,0
    res 1920x1080
}
output DP-2 {
    pos 1920,0
    res 1920x1080
}
#output DP-2 bg ~/Pictures/wallpapers/7KjoSQR.jpg fill scale 1

workspace  $w1 output DP-2
workspace  $w2 output DP-2
workspace  $w3 output DP-2
workspace  $w4 output eDP-1
workspace  $w5 output eDP-1
workspace  $w6 output eDP-1
workspace  $w7 output eDP-1
workspace  $w8 output eDP-1
workspace  $w9 output eDP-1
workspace $w10 output DP-2
