# Font for window titles. Will also be used by the bar unless a different font
# is used in the bar {} block below. ISO 10646 = Unicode
# font -misc-fixed-medium-r-normal--13-120-75-75-C-70-iso10646-1
# The font above is very space-efficient, that is, it looks good, sharp and
# clear in small sizes. However, if you need a lot of unicode glyphs or
# right-to-left text rendering, you should instead use pango for rendering and
# chose a FreeType font, such as:
font pango:xos4 Terminus 8
# start a terminal
bindsym $mod+Return exec tilix

# Start i3bar to display a workspace bar (plus the system information i3status
# finds out, if available)

workspace  $w1 output HDMI-1
workspace  $w2 output HDMI-1
workspace  $w3 output DP-2
workspace  $w4 output eDP-1
workspace  $w5 output eDP-1
workspace  $w6 output eDP-1
workspace  $w7 output eDP-1
workspace  $w8 output eDP-1
workspace  $w9 output eDP-1
workspace $w10 output DP-2

output "*" bg ~/Pictures/wallpapers/micleusanu-blur.jpg fill
output eDP-1 pos 0,0 res 1920x1080

input "*" {
#    xkb_options caps:swapescape
}
input "0:1:Power_Button" {
}
input "0:3:Sleep_Button" {
}
input "6058:20546:ThinkPad_Extra_Buttons" {
}
input "1241:36:HOLDCHIP_USB_Gaming_Keyboard" {
    xkb_options caps:swapescape
}
input "1:1:AT_Translated_Set_2_keyboard" {
}

input "1739:0:Synaptics_TM3288-003" {
    tap enabled
    tap_button_map lrm
    click_method clickfinger
    dwt enabled
    middle_emulation enabled
    scroll_method two_finger
    events disabled_on_external_mouse
}

# these don't really work for sway
bindsym $mod+Shift+p [class="Pidgin" instance="Pidgin" title="Buddy List"] scratchpad show
bindsym $mod+p [class="Pidgin" instance="Pidgin" title="[^(Buddy List)]"] scratchpad show
bindsym $mod+o [class="Slack"] scratchpad show
bindsym $mod+i [instance=".*skype.*" title="Skype.*"] scratchpad show
bindsym $mod+o [instance="rambox" class="Rambox"] scratchpad show
bindsym $mod+z [class="Zeal"] scratchpad show
bindsym $mod+e [class="Thunderbird"] scratchpad show

#for_window [class="Thunderbird" instance="Mail"] move scratchpad
#for_window [class="Pidgin" instance="Pidgin"] move scratchpad
#for_window [class="Slack" instance="slack"] move scratchpad
#for_window [instance=".*skype.*"] move scratchpad
#for_window [class="Zeal" instance="zeal"] move scratchpad
#for_window [class="mpv"] floating disabled

assign [class="Chromium"] $w1
assign [class="Firefox"] $w4
#assign [class="streamlink-twitch-gui"] $w9
assign [class="mpv"] $w9

