output eDP-1 {
    pos 2560,720
    res 1920x1080
}
output HDMI-A-1 {
    pos 0,0
    res 2560x1440
    bg ~/Pictures/wallpapers/micleusanu-blur.jpg fill
    scale 1
}

workspace  $w1 output HDMI-A-1
workspace  $w2 output HDMI-A-1
workspace  $w3 output HDMI-A-1
workspace  $w4 output eDP-1
workspace  $w5 output eDP-1
workspace  $w6 output eDP-1
workspace  $w7 output eDP-1
workspace  $w8 output eDP-1
workspace  $w9 output eDP-1
workspace $w10 output HDMI-A-1
