
# Start i3bar to display a workspace bar (plus the system information i3status
# finds out, if available)

#bindsym $mod+Return exec tilix
# output
set $Locker /usr/bin/swaylock -i ~/Pictures/wallpapers/micleusanu-blur.jpg --indicator-radius=80 -c 222222
output "*" bg ~/Pictures/wallpapers/micleusanu-blur.jpg fill #222222
output DP-1 res 2560x1440

#input "1241:36:HOLDCHIP_USB_Gaming_Keyboard" {
input type:keyboard {
    xkb_options caps:swapescape
}

input "7805:11320:ROCCAT_ROCCAT_Kiro_Mouse" {
    middle_emulation enabled
}

input "7504:24866:Ultimate_Gadget_Laboratories_UHK_60_v1" {
    middle_emulation enabled
    drag_lock enabled

    xkb_layout us
    xkb_model intl
    xkb_options caps:swapescape
}
#set $volUP exec pamixer -ui 2 && pamixer --get-volume > $SWAYSOCK.wob

#set $wob wob -t 200 -a right top
#exec ~/.local/bin/wobinit.sh

#for_window [class="steam_app_611500" instance="steam_app_611500"] fullscreen, max_render_time 1
