
# Start i3bar to display a workspace bar (plus the system information i3status
# finds out, if available)

#bindsym $mod+Return exec tilix
# output
set $Locker /usr/bin/swaylock -i ~/Pictures/wallpapers/micleusanu-blur.jpg --indicator-radius=80 -c 222222
output "*" bg ~/Pictures/wallpapers/micleusanu-blur.jpg fill
output DP-1 res 2560x1440

#input "1241:36:HOLDCHIP_USB_Gaming_Keyboard" {
input * {
    xkb_options caps:swapescape
}

input "7805:11320:ROCCAT_ROCCAT_Kiro_Mouse" {
    middle_emulation enabled
}

#set $volUP exec pamixer -ui 2 && pamixer --get-volume > $SWAYSOCK.wob

#set $wob wob -t 200 -a right top
#exec ~/.local/bin/wobinit.sh

