workspace  $w1 output DP-1
workspace  $w2 output DP-1
workspace  $w3 output DP-1
workspace  $w4 output DP-1
workspace  $w5 output DP-1
workspace  $w6 output DP-1
workspace  $w7 output eDP-1
workspace  $w8 output eDP-1
workspace  $w9 output eDP-1
workspace $w10 output eDP-1

set $Locker /usr/bin/swaylock --indicator-radius=80 -c 222222

output eDP-1 {
    pos 0,600 res 1920x1080
    scale 1
}

output DP-1 {
    pos 1920,0 res 2560x1440
    scale 1
}
