workspace  $w1 output eDP-1
workspace  $w2 output eDP-1
workspace  $w3 output eDP-1
workspace  $w4 output eDP-1
workspace  $w5 output eDP-1
workspace  $w6 output eDP-1
workspace  $w7 output eDP-1
workspace  $w8 output eDP-1
workspace  $w9 output eDP-1
workspace $w10 output eDP-1

set $Locker /usr/bin/swaylock -i ~/Pictures/wallpapers/micleusanu-blur.jpg --indicator-radius=80 -c 222222
output * {
    bg ~/Pictures/wallpapers/micleusanu-blur.jpg fill  #222222
}
output eDP-1 {
    pos 0,1440 res 1920x1080
    scale 1
}

input type:keyboard {
    xkb_layout us
    xkb_model intl
    xkb_options caps:swapescape
}

input "0:0:*" { }
input "0:1:Power_Button" { }
input "0:3:Sleep_Button" { }
input "0:5:Lid_Switch" { }
input "0:6:Video_Bus" { }
input "2:1:PS/2_Generic_Mouse" { }
input "1160:4639:*" { }
input "3034:21817:Integrated_Webcam_HD:_Integrate" { }
input "1241:361:USB_Keyboard" { }

input "1160:4639:DELL0918:00_0488:121F_Touchpad" {
    tap enabled
    tap_button_map lrm
    click_method clickfinger
    dwt enabled
    middle_emulation enabled
    scroll_method two_finger
    events disabled_on_external_mouse
}
