# firefox sharing popup
for_window [title="Firefox.*Sharing Indicator"] floating enable, move position 1600 0, border none, nofocus
for_window [title="meet.google.com is sharing your screen."] floating enable, move position 1600 0, border none, nofocus
for_window [title="^Library$" app_id="firefox.*"] floating enable
for_window [title="Picture-in-Picture" app_id="firefox.*"] floating enable, fullscreen on
for_window [urgent="latest" app_id="firefox.*"] focus

# xdg-desktop-portal file dialog
for_window [app_id="xdg-desktop-portal-gtk" title=".*"] floating enable

for_window [app_id="thunar" title="File Operation Progress"] floating enable, border pixel
for_window [class="com-intellij-updater-Runner" instance="com-intellij-updater-Runner"] floating enable, border pixel
for_window [class="jetbrains-.*" title="Welcome to .*"] floating enable, border pixel
for_window [class="jetbrains-.*" title="win\d+"] floating enable, border none
for_window [class="^jetbrains-.+" window_type="dialog|utility|toolbar|splash|menu|dropdown_menu|popup_menu|tooltip|notification"] no_focus
#for_window [class="^jetbrains-.+" window_type=324] border none

#for_window [tiling] default_border pixel 3
for_window [tiling] border pixel 2
#for_window [floating] default_border normal 2
for_window [floating] border normal 2

# scratchpad windows
for_window [class="Thunderbird" instance="Mail"] move scratchpad
for_window [class="Thunderbird" instance="Msgcompose"] move scratchpad
for_window [app_id="thunderbird"] move scratchpad
for_window [class="Pidgin" window_type="normal"] move scratchpad
for_window [class="Slack" instance="slack"] move scratchpad
for_window [instance=".*skype.*"] move scratchpad
for_window [instance="station"] move scratchpad
for_window [instance="rambox"] move scratchpad
for_window [app_id="org.zealdocs.zeal"] move scratchpad
for_window [app_id="org.telegram.desktop"] move scratchpad
for_window [title="."] title_format "<b>%title</b> (%app_id)"

for_window [class="Chromium"] border none
for_window [class="F|firefox.*"] border none
for_window [class="vimb"] focus child, layout tabbed, focus
for_window [class="qutebrowser"] border none
for_window [app_id="org.qutebrowser.qutebrowser"] border none
for_window [class="mpv"] floating disabled, layout tabbed, focus
for_window [class="Pinentry-.*"] floating enable, focus
for_window [app_id="pinentry-qt"] floating enable, focus
for_window [instance="sun.*"] border none
for_window [class="java-lang-Thread" instance="java-lang-Thread"] border none, floating enable
for_window [instance="sun-awt-X11-.*"] border none, floating enable
#for_window [class="Steam" instance="Steam"] floating enable, border none
#for_window [instance="audacious" class="Audacious"] floating enable, border none

# Show the pidgin scratchpad window, if any.
#bindsym $mod+Shift+p [class="Pidgin" instance="Pidgin" window_role="buddy_list"] scratchpad show, resize set 400px 950px
bindsym $mod+Shift+p [instance="Pidgin" title="Buddy List"] scratchpad show, resize set 400px 950px
#bindsym $mod+p [class="Pidgin" instance="Pidgin" window_role="conversation"] scratchpad show, resize set 1000px 800px
bindsym $mod+p [instance="Pidgin" title="[^(Buddy List)]"] scratchpad show, resize set 1000px 800px
bindsym $mod+i [instance=".*skype.*|station|slack|rambox" title="Skype.*|Station|Slack|Rambox"] scratchpad show, resize set 1800px 900px
bindsym $mod+t [app_id="org.telegram.desktop"] scratchpad show, resize set 1800px 900px
bindsym $mod+z [app_id="org.zealdocs.zeal"] scratchpad show
#bindsym $mod+z [class="Zeal"] scratchpad show
bindsym $mod+e [app_id="thunderbird"] scratchpad show, resize set 1900px 900px

assign [class="Chromium"] $w1
assign [app_id="Chromium"] $w1
assign [class="jetbrains-.*"] $w3
assign [class="^Spotify"] $w7
assign [class="F|firefox.*"] $w4
assign [class="qutebrowser"] $w4
assign [app_id="org.qutebrowser.qutebrowser"] $w4
assign [class="mpv"] $w9
assign [app_id="mpv"] $w9

