workspace  $w1 output HDMI-A-1 eDP-1
workspace  $w2 output HDMI-A-1 eDP-1
workspace  $w3 output HDMI-A-1 eDP-1
workspace  $w4 output HDMI-A-1 eDP-1
workspace  $w5 output eDP-1
workspace  $w6 output eDP-1
workspace  $w7 output eDP-1
workspace  $w8 output eDP-1
workspace  $w9 output eDP-1
workspace $w10 output HDMI-A-1 eDP-1

set $Locker /usr/bin/swaylock -i ~/Pictures/wallpapers/micleusanu-blur.jpg --indicator-radius=80 -c 222222
output * {
    bg ~/Pictures/wallpapers/micleusanu-blur.jpg fill #222222
}

output eDP-1 {
    pos 0,0 res 1920x1080
    scale 1
}

output DP-1 {
    pos 1920,0 res 2560x1440
    scale 1
}

input type:keyboard {
    xkb_layout us
    xkb_model intl
    xkb_options caps:swapescape
}

input "7504:24866:Ultimate_Gadget_Laboratories_UHK_60_v1" {
    xkb_layout us
    xkb_model intl
}

input type:touchpad {
    tap enabled
    tap_button_map lrm
    click_method button_areas
    dwt enabled
    middle_emulation enabled
    scroll_method two_finger
    events disabled_on_external_mouse
}

