workspace  $w1 output HDMI-A-1 eDP-1
workspace  $w2 output HDMI-A-1 eDP-1
workspace  $w3 output HDMI-A-1 eDP-1
workspace  $w4 output HDMI-A-1 eDP-1
workspace  $w5 output eDP-1
workspace  $w6 output eDP-1
workspace  $w7 output eDP-1
workspace  $w8 output eDP-1
workspace  $w9 output eDP-1
workspace $w10 output HDMI-A-1 eDP-1

set $Locker /usr/bin/swaylock -i ~/Pictures/wallpapers/micleusanu-blur.jpg --indicator-radius=80 -c 222222
output * {
    bg ~/Pictures/wallpapers/micleusanu-blur.jpg fill #222222
}

output eDP-1 {
    pos 0,0 res 1920x1080
    scale 1
}

output DP-1 {
    pos 1920,0 res 2560x1440
    scale 1
}

input type:keyboard {
    repeat_rate 90
    xkb_layout us
    #xkb_model intl
    xkb_options caps:swapescape
}

input "7847:100:Speedlink__Vertical__Mouse__Mouse" {
    accel_profile adaptive
    pointer_accel 0.7
}

input type:touchpad {
    tap enabled
    tap_button_map lrm
    click_method button_areas
    dwt enabled
    middle_emulation enabled
    scroll_method two_finger
    events disabled_on_external_mouse
}

input "14248:1:Ultimate_Gadget_Laboratories_UHK_60_v1" {
    middle_emulation enabled
    drag_lock enabled

    repeat_rate 90
    xkb_layout us
    xkb_model intl
    xkb_options caps:swapescape
}

input "1241:36:*" {
    xkb_options caps:swapescape
}
