set $Locker /usr/bin/swaylock -i ~/Pictures/wallpapers/micleusanu-blur.jpg --indicator-radius=80 -c 222222

for_window [title="Zscaler.*"] floating enable
bindsym $mod+z [title="Zscaler.*"] scratchpad show

output * {
    bg ~/Pictures/wallpapers/micleusanu-blur.jpg fill  #222222
}

output eDP-1 {
    pos 0,1440 res 3840x2160
    scale 2
}

input type:keyboard {
    repeat_rate 90
    xkb_layout us
    xkb_model intl
    xkb_options caps:swapescape
}

input "0:0:*" { }
input "0:1:Power_Button" { }
input "0:3:Sleep_Button" { }
input "0:5:Lid_Switch" { }
input "0:6:Video_Bus" { }
input "2:1:PS/2_Generic_Mouse" { }

input "7847:100:Speedlink__Vertical__Mouse__Mouse" {
    accel_profile adaptive
    pointer_accel 0.7
}

input "2:7:SynPS/2_Synaptics_TouchPad" {
    tap enabled
    tap_button_map lrm
    click_method clickfinger
    dwt enabled
    middle_emulation enabled
    scroll_method two_finger
    events disabled_on_external_mouse
}

input "7504:24866:Ultimate_Gadget_Laboratories_UHK_60_v1" {
    middle_emulation enabled
    drag_lock enabled

    repeat_rate 90
    xkb_layout us
    xkb_model intl
    xkb_options caps:swapescape
}
