profile home-right {
	output 'Dell Inc. DELL U2515H 9X2VY61N052L' mode 2560x1440 position 0,0 scale 1 transform 90 scale 1.5
	output 'GIGA-BYTE TECHNOLOGY CO., LTD. Gigabyte M32U 0x01010101' mode 3840x2160 position 1027,665 scale 1.66

	#exec swaymsg output "*" bg ~/Pictures/wallpapers/PlutoNight.jpg fill #222222
}

profile home-left {
	output 'GIGA-BYTE TECHNOLOGY CO., LTD. Gigabyte M32U 24081B002518' mode 3840x2160@97.983Hz position 0,380 scale 1.6583333 adaptive_sync on
	output 'Dell Inc. DELL U2515H 9X2VY61N052L' mode 2560x1440 position 2316,0 transform 270 scale 1.5
}

