profile on-the-move {
	output eDP-1 mode 3840x2160 position 0,0 scale 2
	exec swaymsg output eDP-1 scale 2
}

profile home-setup {
	output eDP-1 mode 3840x2160 position 0,900 scale 2
	output 'Dell Inc. DELL U2515H 9X2VY61N052L' mode 2560x1440 position 1920,0 scale 1
}

profile work-3-C.10.L-single {
	output eDP-1 mode 3840x2160 position 300,1440 scale 2
	output 'Dell Inc. DELL U2518D 3C4YP84DAQSL' mode 2560x1440 position 0,0 scale 1
}

profile work-3-C.10.L {
	output eDP-1 mode 3840x2160 position 0,1640 scale 2
	output 'Dell Inc. DELL U2518D 3C4YP84DAQSL' mode 2560x1440 position 1920,700 scale 1
	output 'Dell Inc. DELL U2518D 3C4YP92CCN2L' mode 2560x1440 position 4480,0 scale 1 transform 90

	exec swaymsg output HDMI-A-1 subpixel vrgb
}

profile work-3-C.07.L {
	output eDP-1 mode 3840x2160 position 0,1920 scale 2
	output 'Dell Inc. DELL U2518D 3C4YP91FBD1L' mode 2560x1440 position 1920,700 scale 1
	output 'Dell Inc. DELL U2518D 3C4YP8A4AFRL' mode 2560x1440 position 4480,0 scale 1 transform 90

	exec swaymsg output HDMI-A-1 subpixel vrgb
}

profile work-3-B.08.R {
	output eDP-1 mode 3840x2160 position 0,1440 scale 2
	output 'Dell Inc. DELL U2518D 3C4YP87G941L' mode 2560x1440 position 800,0 scale 1
	output 'Dell Inc. DELL U2518D 3C4YP89LA1NL' mode 2560x1440 position 3360,0 scale 1
}

profile work-4-B-20 {
	output eDP-1 mode 3840x2160 position 0,1440 scale 2
	output 'Dell Inc. DELL P2421D 19ZHGC3' mode 2560x1440 position 1920,700 scale 1
	output 'Dell Inc. DELL P2421D H7XHGC3' mode 2560x1440 position 4480,0 scale 1 transform 270

	exec swaymsg output HDMI-A-1 subpixel vrgb
}

profile work-4-B-28-R {
	output eDP-1 mode 3840x2160 position 0,1440 scale 2
	output 'Dell Inc. DELL P2421D 64ZHGC3' mode 2560x1440 position 1920,700 scale 1
	output 'Dell Inc. DELL P2421D 3SPHGC3' mode 2560x1440 position 4480,0 scale 1 transform 270

	exec swaymsg output HDMI-A-1 subpixel vrgb
}

profile work-4-A-28-R {
	output eDP-1 mode 3840x2160 position 300,1440 scale 2
	output 'Dell Inc. DELL P2421D 8SPHGC3' mode 2560x1440 position 0,0 scale 1

	exec swaymsg output HDMI-A-1 subpixel vrgb
}

profile work-4-B-22-R {
	output eDP-1 mode 3840x2160 position 300,1440 scale 2
	output 'Dell Inc. DELL P2421D 59ZHGC3' mode 2560x1440 position 0,0 scale 1

	exec swaymsg output HDMI-A-1 subpixel vrgb
}

profile work-4-B-24-L {
	output eDP-1 mode 3840x2160 position 0,700 scale 2
	output 'Dell Inc. DELL P2421D 791JGC3' mode 2560x1440 position 1920,0 scale 1
}

profile work-4-B-16-L {
	output eDP-1 mode 3840x2160 position 0,700 scale 2
	output 'Dell Inc. DELL P2421D CMTHGC3' mode 2560x1440 position 1920,0 scale 1
}
